.container div:nth-child(1) {
	background-color: brown; 
	height: 50px;	
}

.container div:nth-child(2) {
	background-color: blue; 
	height: 75px;	
	order: 5;
}

.container div:nth-child(3) {
	background-color: blueviolet; 
	height: 30px;	

}

.container div:nth-child(4) {
	background-color: black; 
	height: 99px;	
	order: -1;
}

.container div:nth-child(5) {
	background-color: tomato; 
	height: 25px;	
	flex-grow: 3;
}

.container div:nth-child(6) {
	background-color: seagreen; 
	height: 75px;	

}

.container div {
	/*
	width: 100%;
	*/
	width: 50px;
	padding: 50px;
	margin: 5px;
	color: white;
	text-align: center;
	font-size: 50pt;
	font-weight: bolder;
}

.container {
	display: flex;
//	flex-direction: column-reverse;
//	flex-wrap: wrap;
	height: 400px;
	justify-content: space-evenly;
//	align-items: center;
	align-content: flex-start;
}


